// HEADER 
#header {
  width: 100%;
  height: calc(var(--header-height) - 1px);
  overflow: hidden;
  background-color: var(--background-primary);
  font-family: sans-serif;
  border-bottom: 1px solid var(--color-primary);

  ul {
    padding-left: 5rem;
    padding-right: 5rem;
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    li {
      list-style-type: none;

      a {
        color: var(--color-secondary);
        text-decoration: none;
        font-size: 18px;

        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}

// HOME
#home {
  height: calc(100vh - var(--header-height));
  width: 100vw;
  padding: 3rem 10rem 0 10rem;
  background-color: var(--background-primary);

  .wrap-home {
    display: flex;
    justify-content: space-between;
    color: var(--color-secondary);

    .item {
      width: 200px;
      height: 200px;
      border-radius: 3px;
      background-color: aqua;
      transition: transform 0.3s ease;
      box-shadow: 0px 0px 10px 5px rgba(251, 249, 249, 0.5);
      text-decoration: none;

      &:hover {
        transform: translateY(-5px);
      }

      span {
        font-family: var(--font-primary);
        font-weight: 700;
        font-size: 28px;
        color: var(--color-secondary);
      }
    }
  }
}

// HTML
#html {
  background-color: var(--background-primary);
  height: calc(100vh - var(--header-height));
  display: flex;

  .left {
    padding: 1rem;
    width: 25%;
    overflow: scroll;
    color: var(--color-secondary);

    
  }

  .right {
    background-color: rgb(53, 147, 95);
    width: 75%;
    height: 20px;
  }
}